nav {
    float: left;
    display: block;
    border: black, 1pt, solid;
    width: 15%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20pt;
    position: fixed;
}

nav ul {
    padding-left:5%;
    margin-top: 0%;
}

nav li{
    padding: 3%;
}

div {
    float: right;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
}

header{
    top: 0;
    width: 100%;
}

.index_div{
    float: right;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
}

figure {
    padding: 4px;
    margin: 0;
}
  
figcaption {
    color:gray;
    font-style: italic;
    padding: 2px;
    text-align: left;
    font-size:x-small;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    padding: 2px;
}

tr:nth-child(odd) {
    background-color:lightyellow;
}

th {
    background-color: yellow;
}

code {
    background-color: rgb(243, 243, 243);
}

details{
    padding-top: 10px;
}