nav {
    float: left;
    display: block;
    border: black, 1pt, solid;
    width: 15%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 20pt;
    position: fixed;
    margin-top: 7%;
}

nav ul {
    padding-left:5%;
    margin-top: 0%;
}

nav li{
    padding: 3%;
}

div {
    float: right;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 7%;
}

header{
    top: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    /* margin-bottom: 5%; */
}

.index_div{
    float: right;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
}

#bio {
    margin-top: 7%;
}
