header {
    display: block;
    position: fixed;
    width: 100%;
    padding: 10px;
}

nav {
    display: block;
    position: fixed;
    top: 60px;
    float: left;
    width: 15%;
    height: calc(100vh - 100px); 
    overflow-y: auto;
    padding-top: 40pt;
    padding-left: 10pt;
}

nav ul {
    padding-left: 5%;
    margin-top: 0;
}

nav li {
    padding: 3%;
}

div {
    width: 75%;
    float: right;
    padding-left: 5%;
    padding-right: 5%;
}

header{
    top: 0;
    width: 100%;
}

.index_div{
    float: right;
    width: 75%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 0%;
}

figure {
    padding: 4px;
    margin: 0;
}
  
figcaption {
    color:gray;
    font-style: italic;
    padding: 2px;
    text-align: left;
    font-size:x-small;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    padding: 2px;
}

tr:nth-child(odd) {
    background-color:lightyellow;
}

th {
    background-color: yellow;
}

code {
    background-color: rgb(243, 243, 243);
}

details{
    padding-top: 10px;
}

.highlight_yellow {
    background-color: yellow;
}